html {
    background-color: #f8f8f8;
    color: #333;

    font-family: sans-serif;
}

#theGameContainer {
    margin-left:  auto;
    margin-right: auto;
    margin-top: 1em;

    display: table;

    /* border: 1px solid #ccc;*/
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding:       9px;
}

#theTable {
    /* border: 1px solid rgba(0, 0, 0, 0.10);*/
    background-color: #ddd;
    cursor: pointer;
    border-spacing: 3px;
    padding: 4px;
    padding-right:  0px;
    padding-bottom: 0px;
    border-radius: 4px;
}

#theTable thead {
    display: none;
}

#theTable td {
    background-color: #eee;
}

#theTable th,
#theTable td {
    padding: 0px;

    width:  32px;
    height: 32px;

    border: 4px solid transparent;

    border-radius: 4px;

    text-align: center;

    font-size:   28px;
    line-height; 32px;
    vertical-align: middle;
}

#theTable td.crosshair.hint {
    background-color: #fff;
}

#theTable td.selected {
    border-color: #729fcf;
}

#theTable td.filled {
    background-color: #bbb;
}

#theTable th.placeholder {
    visibility: hidden;
}

#theTable th.horizontal .number {
}

#theTable th .hintBackground {
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    width:  24px;
    height: 24px;

    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

#theTable th .hintBackground .hintNumber {
    line-height: 24px;
    display: inline;
}

#theTable th {
    vertical-align: bottom;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Lucida Grande', 'Luxi Sans', sans-serif;
    font-weight: bold;
    font-size: 90%;
    color: #888;
    /* text-shadow: 0px 1px 1px white;*/
}

#theTable td.maybe {
    /* background-color: rgba(192, 0, 0, 0.10);*/
    text-shadow: 0px 0px 1px black;
    color: #888;
    font-weight: bold;
}

#theTable th.horizontal {
    text-align: right;
    width: 160px;
}

#theTable th.crosshair {
    background-color: #729fcf;
    color: #fff;
    /* text-shadow: 0px 1px 1px black;*/
}

/*#theTable td.filled.crosshair {
    background-color: #ccc;
}*/
