* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

#timer,
#game {
    -webkit-touch-callout: none;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    cursor: default;
}

:focus {
    outline: none;
}

html {
    background-color: #f4f4f4;
    color: #333;

    font-family: 'Lucida Grande', 'Segoe UI', 'Verdana', sans-serif;
}

html,
body {
    padding: 0px;
    margin:  0px;
}

#game {
    border: 3px solid #ddd;
    border-radius: 3px;

    cursor: pointer;

    background-color: #ececec;

    margin-left:  auto;
    margin-right: auto;

    display: table;
}

#sidebar {
    padding: 0px;
    /* background-color: #ddd;*/
    background-color: #ddd;
    background-image: -webkit-linear-gradient(left,      rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:    -moz-linear-gradient(left,      rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:     -ms-linear-gradient(left,      rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:      -o-linear-gradient(left,      rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:         linear-gradient(to right,  rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    /* background-color: rgb(200, 215, 240);*/

    box-shadow: inset -8px 0px 8px -8px rgba(0, 0, 0, 0.15);

    border-right: 1px solid #bbb;

    position: absolute;
    top:    0px;
    left:   0px;
    bottom: 0px;

    font-size: 12pt;
}

#sidebar { width:       100px; }
#content { margin-left: 100px; }

#content {
    padding: 10px;
}

#sidebar > * {
    margin-left:  auto;
    margin-right: auto;
}

#sidebar ul {
    left:    0px;
    padding: 0px;
    margin:  0px;

    text-align: left;
}

#sidebar ul li {
    list-style: none;
    position: relative;

    left:    0px;
    margin:  0px;

    /* border-radius: 3px;*/
    border-top-left-radius:    9px;
    border-bottom-left-radius: 9px;
    border: 0px solid transparent;

    border-right: 3px solid transparent;
    /* border-bottom: 3px solid transparent;*/

    margin-bottom: 0px;

    padding-right: 6px;
}

#sidebar ul li a {
    font-weight: bold;
    color: #666;
    text-shadow: 0px 1px 1px white;
    cursor: pointer;
    text-decoration: none;
}

#sidebar .header {
    font-weight: bold;
    color: #aaa;
    text-shadow: 0px 1px 1px white;
    padding-left:  6px;
    padding-right: 6px;
    margin-top:    3px;
    margin-bottom: 3px;

    font-size: 10pt;
}

#sidebar .menu {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background-image: -webkit-linear-gradient(top,       rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:    -moz-linear-gradient(top,       rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:     -ms-linear-gradient(top,       rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:      -o-linear-gradient(top,       rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    background-image:         linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.00));
    box-shadow: inset 0px  1px  0px  0px rgba(255, 255, 255, 0.50);
    /* box-shadow: inset 0px 9px 9px -9px rgba(0, 0, 0, 0.15);*/
    margin-bottom: 32px;
    padding-left:  6px;
    padding-right: 1px;
}

#sidebar ul li a {
    display: block;
    padding:      4px;
    padding-left: 9px;
}

#sidebar #timer {
    text-align: center;

    font-weight: bold;
    color: #666;
    text-shadow: 0px 1px 1px white;

    font-size: 20pt;

    /* font-family:*/
    /*     'Bitstream Vera Sans Mono',*/
    /*     'Dejavu Sans Mono',*/
    /*     'Menlo Sans',*/
    /*     'Consolas',*/
    /*     'Lucida Console',*/
    /*     monospace;*/

    margin-bottom: 20px;
}

#sidebar ul li:hover {
    background-color: #888;
    /* background-color: #ccc;*/
    /* background-color: #729fcf;*/
    /* border-color: #444;*/
    /* border-color: red;*/
    /* border-color:        rgba(0, 0, 0, 0.85);*/
    /* border-color:        rgba(0, 0, 0, 0.15);*/
    /* border-top-color:    rgba(0, 0, 0, 0.05);*/
    /* border-bottom-color: rgba(0, 0, 0, 0.30);*/
    /* box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.10);*/
}

#sidebar ul li:hover a {
    color: #fff;
    text-shadow: 0px 1px 1px black;
}

#sidebar ul li.selected {
    border-color: #3465a4;
    /* background-color: #888;*/
    /* background-color: #729fcf;*/
    /* border-color:        rgba(0, 0, 0, 0.85);*/
    /* border-color:        rgba(0, 0, 0, 0.15);*/
    /* border-top-color:    rgba(0, 0, 0, 0.05);*/
    /* border-bottom-color: rgba(0, 0, 0, 0.30);*/
    /* box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.25);*/
}

#sidebar ul li.selected:hover {
    border-color: #444;
}

#sidebar ul li:hover a {
    /* color: #fff;*/
    /* text-shadow: 0px 1px 1px black;*/
}

#minimap {
    border: 3px solid #ccc;

    border-radius: 3px;

    background-color: #fff;

    margin-top:    18px;
    margin-bottom: 18px;

    display: table;
}
